body {
    background-color: #000122;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

nav {
    width: 100%;
    height: 50px;
    max-height: 50px;
    background-color: #000115;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.nav-logo {
    margin-left: 10px;
    height: 100%;
}

.logo {
    height: 100px;
}

.img-center {
    display:block;
    margin:auto;
}

.nav-item {
    display: inline table-cell;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 10px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

.left {
    width: 50%;
}
.right {
    width: 50%;
    float:right;
    margin-top: -600px;
}

.official {
    color: #4ede6d;
}

::selection {
    color: #FFFFFF;
    background-color: #007bff53;
}

.list-display li {
    height: 2.5vh !important;
    width: 100% !important;
}